<h1>Client Help/FAQ</h1>

<h5> We are here to help!</h5>
<p>
  Common help topics are listed below. Can't find what you need? Reach out to our support team.
</p>
<p><strong>Email:</strong> <a href="mailto:support@jclttime.com"> support@jclttime.com</a><br /><strong>Phone: </strong>1-800-272-2707</p>
<section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
  <div class="dayoftheweek-divider py-1"></div>
  <div class="container">

    <h2>General </h2>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
          <h5 class="panel-title">
            <span class="text-primary hover-pointer noselect collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
              I forgot my username or password. What do I do?
            </span>
          </h5>
        </div>
        <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
          <div class="panel-body p-3 mb-4">
            <p>Email support@jclttime.com or call us any time at 1-800-272-2707. If you need immediate assistance, a phone call typically receives a quicker response than email.</p>

          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
          <h5 class="panel-title">
            <span class="text-primary hover-pointer noselect collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
              How do I submit general questions and feedback?
            </span>
          </h5>
        </div>
        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
          <div class="panel-body p-3 mb-4">
            <p>We would love to hear your feedback and answer any of your questions! Please email us at support@jclttime.com.</p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
          <h5 class="panel-title">
            <span class="text-primary hover-pointer noselect collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
              I do not know my Service Coordinator's phone number or email address. What should I do?
            </span>
          </h5>
        </div>
        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
          <div class="panel-body p-3 mb-4">
            <p>Email support@jclttime.com or call us any time at 1-800-272-2707.</p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
          <h5 class="panel-title">
            <span class="text-primary hover-pointer noselect collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
              What happens if I close the application before saving my changes?
            </span>
          </h5>
        </div>
        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
          <div class="panel-body p-3 mb-4">
            <p>Unsaved changes will not be saved. Note that users are logged out automatically after 30 minutes of inactivity. Upon automatic logout, any unsaved changes will be lost.</p>
          </div>
        </div>
      </div>



      <h2>Time Review</h2>
      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading4">
          <h5 class="panel-title">
            <span class="text-primary hover-pointer noselect collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
              How do I review a submitted time sheet?
            </span>
          </h5>
        </div>
        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
          <div class="panel-body p-3 mb-4">
            <p>Login and you will see your Pending Timesheets. Click on the Edit button of the timesheet you would like to review for a detailed summary of the timesheet by day.</p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading5">
          <h5 class="panel-title">
            <span class="text-primary hover-pointer noselect collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
              What happens after I approve a time sheet?
            </span>
          </h5>
        </div>
        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
          <div class="panel-body p-3 mb-4">
            <p>
              After approving a Contractor's time sheet, a notification will be sent to the Service Coordinator at the booking agency. The Service Coordinator will then review the now-approved time sheet and electronically enter it in their billing/pay system.
            </p><p>
              Note that once a time sheet has been approved in the application, it cannot be altered. If any changes need to be made after it has been approved, please contact your assigned Service Coordinator.
            </p>
            <p>
              If any questions or issues come up regarding a time sheet, please direct them to your assigned Service Coordinator.
            </p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading6">
          <h5 class="panel-title">
            <span class="text-primary hover-pointer noselect collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapse6">
              What happens after I decline a time sheet?
            </span>
          </h5>
        </div>
        <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
          <div class="panel-body p-3 mb-4">
            <p>
              After approving a Contractor's time sheet, a notification will be sent to the Service Coordinator at the booking agency. The Service Coordinator will then review the now-approved time sheet and electronically enter it in their billing/pay system.
              Note that once a time sheet has been approved in the application, it cannot be altered. If any changes need to be made after it has been approved, please contact your assigned Service Coordinator.
              If any questions or issues come up regarding a time sheet, please direct them to your assigned Service Coordinator.
            </p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading7">
          <h5 class="panel-title">
            <span class="text-primary hover-pointer noselect collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapse7">
              How should I report an issue with a time sheet?
            </span>
          </h5>
        </div>
        <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
          <div class="panel-body p-3 mb-4">
            <p>
              If you happen to find something wrong on a time sheet, please contact your assigned Service Coordinator. In this version of the application, once a Contractor submits their time sheet in the application, it can no longer be edited electronically. Editing of previously submitted/approved/declined time sheets will be available in a future release.
            </p><p>Note that overtime is calculated separately from these electronic time sheets. Overtime will not display in this version of the application.</p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading8">
          <h5 class="panel-title">
            <span class="text-primary hover-pointer noselect collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true" aria-controls="collapse8">
              How do I edit a pending time sheet?
            </span>
          </h5>
        </div>
        <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
          <div class="panel-body p-3 mb-4">
            <p>
              In the BETA version of the application, once a Contractor submits their time sheet in the application, it can no longer be edited electronically. Editing of previously submitted/approved/declined time sheets will be available in a future release.. If an edit is required, please contact your assigned Service Coordinator who will work with the contractor to have a paper time sheet filled out for the correlating work week.
            </p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading9">
          <h5 class="panel-title">
            <span class="text-primary hover-pointer noselect collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="true" aria-controls="collapse9">
              I cannot find a Contractor's time sheet. What should I do?
            </span>
          </h5>
        </div>
        <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
          <div class="panel-body p-3 mb-4">
            <p>
              If you believe that you are missing a time sheet, please contact your assigned Service Coordinator who will work to understand why the booking and time sheet are not displaying in the application for you.
            </p>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>

