<div class="atlas-form-group atlas-password-descriptor-font-size" [ngClass]="{'atlas-password-descriptor' : (addCustomClass && (!successType?.isLength || !successType?.isNumber || !successType?.isUCLetter || !successType?.isLCLetter || !successType?.isSCharacter))}">
    <span *ngIf="(!successType?.isLength || !successType?.isNumber || !successType?.isUCLetter || !successType?.isLCLetter || !successType?.isSCharacter)"
          class="atlas-required atlas-smallest-text">Password must meet the requirements</span>
    <div class="card atlas-card atlas-card-basic atlas-card-sharp mt-3">
        <div class="atlas-card-body mb-3">
            <div>
                <ul class="fa-ul mb-0 atlas-list atlas-list-icons">
                    <li><span class="fa-li atlas-li-default"><i class="fas"
                                [ngClass]="{'fa-times-circle atlas-danger-text': !successType.isLength, 'fa-check-circle atlas-success-text': successType.isLength}"
                                aria-hidden="true"></i></span>Minimum 10 characters</li>
                    <li><span class="fa-li atlas-li-default"><i class="fas"
                                [ngClass]="{'fa-times-circle atlas-danger-text': !successType.isNumber, 'fa-check-circle atlas-success-text': successType.isNumber}"
                                aria-hidden="true"></i></span>One number (0-9)</li>
                    <li><span class="fa-li atlas-li-default"><i class="fas"
                                [ngClass]="{'fa-times-circle atlas-danger-text': !successType.isUCLetter, 'fa-check-circle atlas-success-text': successType.isUCLetter}"
                                aria-hidden="true"></i></span>One uppercase letter (A-Z)</li>
                    <li><span class="fa-li atlas-li-default"><i class="fas"
                                [ngClass]="{'fa-times-circle atlas-danger-text': !successType.isLCLetter, 'fa-check-circle atlas-success-text': successType.isLCLetter}"
                                aria-hidden="true"></i></span>One lowercase letter (a-z)</li>
                    <li><span class="fa-li atlas-li-default"><i class="fas"
                                [ngClass]="{'fa-times-circle atlas-danger-text': !successType.isSCharacter, 'fa-check-circle atlas-success-text': successType.isSCharacter}"
                                aria-hidden="true"></i></span>One special character (!@#$%*)</li>
                </ul>
            </div>
        </div>
    </div>
</div>