<div>
  <h1 class="col-12 mb-md-4 mb-3">Reset Password</h1>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="col-lg-6">
    <label for="reset-password-email-input" class="atlas-font-weight-semi-bold">Email</label>&nbsp;<span
      class="required-star">* </span>
    <input type="text" formControlName="email" id="reset-password-email-input" class="form-control" maxlength="255"
      [ngClass]="{'is-invalid': (form?.controls?.email?.invalid && (form?.controls?.email?.touched || (!isAdmin && form?.controls?.email?.value)))}">
    <div class="atlas-form-group">
      <span *ngIf="email.errors && email.errors['required'] && email.touched" class="atlas-required atlas-smallest-text"
        role="alert">Email is required <span class="atlas-error-icon"></span></span>
      <span *ngIf="email.errors && email.errors['pattern'] && (email.touched || (!isAdmin && form?.controls?.email?.value))" class="atlas-required atlas-smallest-text"
        role="alert">A valid email address is required <span class="atlas-error-icon"></span></span>
    </div>
  </div>
  <br/>
  <div class="col-lg-6">
    <label for="reset-password-password-input" class="atlas-font-weight-semi-bold">New Password</label>&nbsp;<span
      class="required-star">* </span>
    <span class="atlas-black-text font-weight-normal atlas-smallest-text px-1 float-right pt-1 pb-2 hover-pointer"
      (click)="showNewPassword = !showNewPassword">
      <ng-container *ngIf="!showNewPassword"><i class="far fa-eye pr-1" aria-hidden="true"></i> Show</ng-container>
      <ng-container *ngIf="showNewPassword"><i class="fas fa-eye-slash pr-1" aria-hidden="true"></i> Hide</ng-container>
    </span>
    <input [type]="showNewPassword ? 'text' : 'password'" formControlName="password" id="reset-password-password-input"
      class="form-control"
      [ngClass]="{'is-invalid': (form?.controls?.password?.invalid && form?.controls?.password?.touched )}"
      maxlength="255" autocomplete="new-password" (focus)="showPassDescriptor = true;"
      (blur)="showPassDescriptor = false;">
    <div class="atlas-form-group">
      <span *ngIf="(form?.controls?.password?.invalid && form?.controls?.password?.touched )"
        class="atlas-required atlas-smallest-text" role="alert"> <span class="atlas-error-icon"></span>
      </span>
    </div>
    <jclt-password-descriptor
      *ngIf="showPassDescriptor || (form?.controls?.password?.touched && form?.controls?.password?.invalid)"
      [value]="form?.value?.password" [passwordValue]="form?.controls?.password"></jclt-password-descriptor>
  </div>
  <br />
  <div class="col-12 col-sm-8 col-lg-6 no-gutters">
    <label for="reset-password-confirm-password-input" class="atlas-font-weight-semi-bold">Confirm
      Password</label>&nbsp;<span class="required-star">* </span>
      <span class="atlas-black-text font-weight-normal atlas-smallest-text px-1 float-right pt-1 pb-2 hover-pointer"
      (click)="showConfirmPassword = !showConfirmPassword">
      <ng-container *ngIf="!showConfirmPassword"><i class="far fa-eye pr-1" aria-hidden="true"></i> Show</ng-container>
      <ng-container *ngIf="showConfirmPassword"><i class="fas fa-eye-slash pr-1" aria-hidden="true"></i> Hide</ng-container>
    </span>
    <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" id="reset-password-confirm-password-input"
      class="form-control"
      [ngClass]="{'is-invalid':((form.errors && form.errors['passwords']) || (form?.controls?.confirmPassword?.errors?.required)) && (form?.controls?.confirmPassword?.touched)}"
      maxlength="255">
    <div class="atlas-form-group">
      <span
        *ngIf="((form.errors && form.errors['passwords']) || (form?.controls?.confirmPassword?.errors?.required)) && (form?.controls?.confirmPassword?.touched)"
        class="atlas-required atlas-smallest-text" role="alert">Your password needs to match <span
          class="atlas-error-icon"></span></span>
    </div>
  </div>
  <br />
  <div class="col-lg-6">
    <button type="submit" class="btn atlas-primary" [disabled]="!form.valid">Submit</button>
  </div>
</form>