<div class="container login-form-label-width">
    <form *ngIf="!passwordSuccessfullySubmitted" [formGroup]="form" class="col" (ngSubmit)="onSubmit()">
      <div class="login-box">
        <h2>Forgot Password</h2>
        <div class="form-group">
          <div class="atlas-position-relative">
        <label for="reset-password-email-input" class="atlas-font-weight-semi-bold">Email Address</label>&nbsp;<span class="required-star">* </span>
          <input type="text"
                 formControlName="email"
                 id="reset-password-email-input"
                 class="form-control"
                 [ngClass]="{'is-invalid': (form?.controls?.email?.invalid && form?.controls?.email?.touched )}"
                 maxlength="255"
                 (keydown.space)="$event.preventDefault();">
                 <div class="atlas-form-group">
                  <span *ngIf="email.errors && email.errors['required'] && email.touched" class="atlas-required atlas-smallest-text"
                  role="alert">Email is required <span class="atlas-error-icon atlas-error-icon-two"></span></span>
                  <span *ngIf="email.errors && email.errors['pattern'] && email.touched" class="atlas-required atlas-smallest-text"
                  role="alert">A valid email address is required <span class="atlas-error-icon atlas-error-icon-two"></span></span>
                </div>
        </div>
      </div>
      
      <button type="submit"
              class="btn atlas-primary btn-block login-button"
              [disabled]="!form.valid || passwordSuccessfullySubmitted">
        Continue
      </button>
      <div class="row">
        <div class="col-12 pt-3 login-forgotpasswordtext">
          If you forgot your login email address please contact us at <a href="mailto:support@jclttime.com?subject=Login%20Assistance">support@jclttime.com </a> or call 1-800-272-2707
        </div>
      </div>
</div>
    </form>

    <div *ngIf="passwordSuccessfullySubmitted">
      <div class="login-box">
        <h2>Instructions Sent!</h2>

        <p>Instructions for resetting your password have been sent to the login email address you entered. These instructions will contain a temporary link to reset your password and is only active for 2 hours.</p> <p>If you don’t see this email within 5 minutes please check your spam/junk folder.</p>
        <p>
          If you need additional login assistance please contact us at <a href="mailto:support@jclttime.com">support@jclttime.com</a> or call 1-800-272-2707
        </p>
      </div>
    </div>
  
</div>
