  <div class="container login-form-label-width">
    <div class="login-box">
      <h2 class="col-12 mb-md-4 mb-3">Reset Your Password</h2>
      <form [formGroup]="form" class="col" (ngSubmit)="onSubmit()" *ngIf="password">
        <span class="error-message col-12 mt-2 mb-3 p-0" *ngFor="let error of serverSideErrors">{{error}}</span>
        <div class="form-group">
          <div class="atlas-position-relative">
            <label for="reset-password-email-input" class="atlas-font-weight-semi-bold">Email Address</label>&nbsp;<span class="required-star">* </span>
            <input type="text"
                  formControlName="email"
                  id="reset-password-email-input"
                  class="form-control"
                  [ngClass]="{'is-invalid': email.errors && ((email.errors['required'] && email.touched) || email.errors['pattern'])}"
                  maxlength="255"
                  (keydown.space)="$event.preventDefault();">
            <div class="atlas-form-group">
              <span *ngIf="email.errors && email.errors['required'] && email.touched" class="atlas-required atlas-smallest-text"
              role="alert">Email is required <span class="atlas-error-icon atlas-error-icon-two"></span></span>
              <span *ngIf="email.errors && email.errors['pattern']" class="atlas-required atlas-smallest-text"
              role="alert">A valid email address is required <span class="atlas-error-icon atlas-error-icon-two"></span></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="atlas-position-relative">
            <label for="reset-password-password-input" class="atlas-font-weight-semi-bold">New Password</label>&nbsp;<span class="required-star">* </span>
            <span class="atlas-black-text font-weight-normal atlas-smallest-text px-1 float-right pt-1 pb-2 hover-pointer"
            (click)="showNewPassword = !showNewPassword">
              <ng-container *ngIf="!showNewPassword"><i class="far fa-eye pr-1" aria-hidden="true"></i> Show</ng-container>
              <ng-container *ngIf="showNewPassword"><i class="fas fa-eye-slash pr-1" aria-hidden="true"></i> Hide</ng-container>
            </span>
            <input [type]="showNewPassword ? 'text' : 'password'"
                  formControlName="password"
                  id="reset-password-password-input"
                  class="form-control"
                  [ngClass]="{'is-invalid': (form?.controls?.password?.invalid && form?.controls?.password?.touched )}"
                  maxlength="255"
                  autocomplete="new-password" (focus)="showPassDescriptor = true;"
                  (blur)="showPassDescriptor = false;" 
                  >
            <div class="atlas-form-group">
                <span *ngIf="(form?.controls?.password?.invalid && form?.controls?.password?.touched )"
                  class="atlas-required atlas-smallest-text" role="alert"> <span class="atlas-error-icon atlas-error-icon-two"></span>
                </span>
            </div>
            <jclt-password-descriptor
              *ngIf="showPassDescriptor || (form?.controls?.password?.touched && form?.controls?.password?.invalid)"
              [value]="form?.value?.password" [passwordValue]="form?.controls?.password"></jclt-password-descriptor>
          </div>
        </div>
        <div class="form-group">
          <div class="atlas-position-relative">
            <label for="reset-password-confirm-password-input" class="atlas-font-weight-semi-bold">Confirm Password</label>&nbsp;<span class="required-star">* </span>
            <span class="atlas-black-text font-weight-normal atlas-smallest-text px-1 float-right pt-1 pb-2 hover-pointer"
              (click)="showConfirmPassword = !showConfirmPassword">
              <ng-container *ngIf="!showConfirmPassword"><i class="far fa-eye pr-1" aria-hidden="true"></i> Show</ng-container>
              <ng-container *ngIf="showConfirmPassword"><i class="fas fa-eye-slash pr-1" aria-hidden="true"></i> Hide</ng-container>
            </span>
            <input [type]="showConfirmPassword ? 'text' : 'password'"
                  formControlName="confirmPassword"
                  id="reset-password-confirm-password-input"
                  class="form-control"
                  [ngClass]="{'is-invalid':((form.errors && form.errors['passwords']) || (form?.controls?.confirmPassword?.errors?.required)) && (form?.controls?.confirmPassword?.touched)}"
                  maxlength="255"
                  autocomplete="off"
                    >
            <div class="atlas-form-group">
              <span
                *ngIf="((form.errors && form.errors['passwords']) || (form?.controls?.confirmPassword?.errors?.required)) && (form?.controls?.confirmPassword?.touched)"
                class="atlas-required atlas-smallest-text" role="alert">Your password needs to match <span
                  class="atlas-error-icon atlas-error-icon-two"></span></span>
            </div>
          </div>
        </div>
        <button type="submit" class="btn atlas-primary btn-block login-button" [disabled]="!form.valid || passwordSuccessfullyChanged">Change Password</button>
      </form>
    </div>
  </div>
