<h1>Provider Help/FAQ</h1>

<h5> We are here to help!</h5>
<p>
  Common help topics are listed below. Can't find what you need? Reach out to our support team.
</p>
<p><strong>Email:</strong> <a href="mailto:support@jclttime.com"> support@jclttime.com</a><br /><strong>Phone: </strong>1-800-272-2707</p>
<section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
  <div class="dayoftheweek-divider py-1"></div>
</section>
<section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
  <div class="container">

    <h2>General </h2>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
          <h5 class="panel-title">
            <span class="text-primary hover-pointer noselect collapsed" role="button"
                  title="" data-toggle="collapse"
                  data-parent="#accordion" href="#collapse0"
                  aria-expanded="true" aria-controls="collapse0">
              I forgot my username or password. What do I do?
            </span>
          </h5>
        </div>
        <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
          <div class="panel-body p-3 mb-4">
            <p>Email support@jclttime.com or call us any time at 1-800-272-2707. If you need immediate assistance, a phone call typically receives a quicker response than email.</p>

          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
          <h5 class="panel-title">
            <span class="text-primary hover-pointer noselect collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
              How do I submit general questions and feedback?
            </span>
          </h5>
        </div>
        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
          <div class="panel-body p-3 mb-4">
            <p>We would love to hear your feedback and answer any of your questions! Please email us at support@jclttime.com.</p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
          <h5 class="panel-title">
            <span class="text-primary hover-pointer noselect collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
              I do not know my Service Coordinator's phone number or email address. What should I do?
            </span>
          </h5>
        </div>
        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
          <div class="panel-body p-3 mb-4">
            <p>Email support@jclttime.com or call us any time at 1-800-272-2707.</p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
          <h5 class="panel-title">
            <span class="text-primary hover-pointer noselect collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
              What happens if I close the application before saving my changes?
            </span>
          </h5>
        </div>
        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
          <div class="panel-body p-3 mb-4">
            <p>Unsaved changes will not be saved. Note that users are logged out automatically after 30 minutes of inactivity. Upon automatic logout, any unsaved changes will be lost.</p>
          </div>
        </div>
      </div>
    </div>
    <h2>Time Entry</h2>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading4">
          <h5 class="panel-title">
            <span class="text-primary hover-pointer noselect collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
              How do I enter my time?
            </span>
          </h5>
        </div>
        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
          <div class="panel-body p-3 mb-4">
            <p>You will see any active timesheets under Current Timesheets or Past Due Timesheets. Just click the edit button and enter your time on the correct day. When your done click the Save button.</p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading5">
          <h5 class="panel-title">
            <span class="text-primary hover-pointer noselect collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
              What happens after I submit my time sheet?
            </span>
          </h5>
        </div>
        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
          <div class="panel-body p-3 mb-4">
            <p>After submitting your time sheet, a notification will be sent to the user on the client side. The client will then need to review your submitted time sheet and electronically approve or decline it. Once approved, the time sheet will be forwarded on to the Service Coordinator for review and entry in to the pay and billing system.<br />If any questions or issues come up regarding your time sheet, please direct them to your assigned Service Coordinator.</p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading6">
          <h5 class="panel-title">
            <span class="text-primary hover-pointer noselect collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapse6">
              How do I know when my time sheet has been approved?
            </span>
          </h5>
        </div>
        <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
          <div class="panel-body p-3 mb-4">
            <p>In the current version of this application, there is no visualization that your time sheet has been reviewed, approved or declined by the client. This will be a feature released in a later version. If you would like to know the current status of your electronic time sheet, please contact the Service Coordinator on your booking.</p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading7">
          <h5 class="panel-title">
            <span class="text-primary hover-pointer noselect collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapse7">
              How do I report an incident on my time sheet?
            </span>
          </h5>
        </div>
        <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
          <div class="panel-body p-3 mb-4">
            <p>
              After clicking "submit," you will be prompted to check a box which indicates that there was an incident. Details of the incident do not need to be recorded on the time sheet at this time. The notification for the incident will then be sent on to the Service Coordinator at your booking organization for review and follow up.
              <br />
              The Service Coordinator is responsible for contacting you regarding the incident. If an incident was accidentally reported on your time sheet, please contact the Service Coordinator to have it removed manually.
            </p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading8">
          <h5 class="panel-title">
            <span class="text-primary hover-pointer noselect collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true" aria-controls="collapse8">
              How do I edit a previously submitted time sheet?
            </span>
          </h5>
        </div>
        <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
          <div class="panel-body p-3 mb-4">
            <p>
              In the current BETA version of the application, once a time sheet is submitted, it cannot be electronically revised and re-submitted. If an edit is required, please complete a manual time sheet for the full work week at that Work Location and submit it via email or fax to your assigned Service Coordinator.
            </p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading9">
          <h5 class="panel-title">
            <span class="text-primary hover-pointer noselect collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="true" aria-controls="collapse9">
              Something is missing on my time sheet. What do I do?
            </span>
          </h5>
        </div>
        <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
          <div class="panel-body p-3 mb-4">
            <p>
              If you are missing a booked day on your time sheet, make sure to enter the time and type of time spent working that day. A booked day is noted by green font on the Edit Time Sheet page.<br />

              If you cannot locate a certain rate/shift type then select the one that most closely relates to the time worked that day. Overtime is calculated by Jackson &amp; Coker. You do not need to add overtime to your time sheet.<br />

              If you have any questions regarding what rate/shift type to select on your time sheet, please reach out to your assigned Service Coordinator.
            </p>
          </div>
        </div>
      </div>
    </div>

    <h2>Expense Management</h2>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading10">
          <h5 class="panel-title">
            <span class="text-primary hover-pointer noselect collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="true" aria-controls="collapse10">
              How do I submit an expense?
            </span>
          </h5>
        </div>
        <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
          <div class="panel-body p-3 mb-4">
            <p>
              Click on the Create Expense link in the navigation and enter your expense details. When you have completed that, upload your receipt and click the Submit Expense button.
            </p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading11">
          <h5 class="panel-title">
            <span class="text-primary hover-pointer noselect collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="true" aria-controls="collapse11">
              What happens after I submit an expense?
            </span>
          </h5>
        </div>
        <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
          <div class="panel-body p-3 mb-4">
            <p>
              After submitting your expense, a notification will be sent to the Service Coordinator assigned to your booking. The Service Coordinator will then need to review your submitted expense and receipt. If approved, the expense will be sent to Accounts Payable for reimbursement, if applicable.<br />

              If any questions or issues come up regarding the expense reimbursement process, please direct them to the Service Coordinator on your booking.
            </p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading12">
          <h5 class="panel-title">
            <span class="text-primary hover-pointer noselect collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="true" aria-controls="collapse12">
              How do I know when my expense has been approved?
            </span>
          </h5>
        </div>
        <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
          <div class="panel-body p-3 mb-4">
            <p>
              In the current version of the application, expense's approval or decline status will not yet be displayed. This will be added in a future release. For the time being, please reach out to your assigned Service Coordinator regarding any updates to a previously submitted expense.
            </p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading13">
          <h5 class="panel-title">
            <span class="text-primary hover-pointer noselect collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="true" aria-controls="collapse13">
              How do I edit a previously submitted expense?
            </span>
          </h5>
        </div>
        <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
          <div class="panel-body p-3 mb-4">
            <p>
              In the current BETA version of the application, once an expense is submitted, it cannot be electronically revised and re-submitted. If an edit is required, please complete a manual expense reimbursement form and submit it via email or fax to your assigned Service Coordinator. Note that each expense item is submitted individually. You do not need to redo the entire list of expenses if you only made a mistake on one of them. Just fill out the manual form for the item(s) with the mistake.
            </p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading14">
          <h5 class="panel-title">
            <span class="text-primary hover-pointer noselect collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="true" aria-controls="collapse14">
              I cannot find a work location on my expense entry form. What do I do?
            </span>
          </h5>
        </div>
        <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
          <div class="panel-body p-3 mb-4">
            <p>
              If you are missing a work location on your expense entry list, contact your assigned Service Coordinator. Work locations are displayed in this list if you were assigned to work at them within the past six months from today. Expenses older than six months need to be entered on a manual expense entry sheet.
              <br />
              If any questions or issues come up regarding the expense reimbursement process, please direct them to the Service Coordinator on your booking.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
